################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AlugaCarsAPI/FileContentIndex/0cc19054-a0b6-4e93-a03c-f9255b6b514c.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/57c36a6f-dd0f-49a1-98f9-271d4930cc87.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/758d8499-22c4-4d4c-8acb-c606b4d69fed.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/d283c0f3-f040-4dbe-850e-68d0a026c1ef.vsidx
/.vs/AlugaCarsAPI/FileContentIndex/fca8fa3d-22fe-4aec-9fce-b3964fc928cf.vsidx
